section {
    width: 97%;
    margin: 0 auto;
}

img {
    width: 10%;
    float: right;
}

label {
    display: block;
    font-weight: bolder;
}

h1 {
    margin: 1rem;
}

i {
    cursor: pointer;
}

.btn-sub {
    float: right;
    margin: 1.5rem;
    padding: 1rem;
}
